<div class="home">
  <div class="text">
    <h1>Shop Small. Shop Local.
The Drama Book Shop is back.</h1>
<p>Since 1917, The Drama Book Shop has been a mainstay of the New York theatre scene and a cultural institution for theatrical works. We’re excited to welcome you to our new location on West 39th Street in midtown Manhattan.</p>
<a class="btn blue" href="/books">New Books </a>
  </div>
</div>

